<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAamHc9dyToc2MfHr8KvfS9rWsmr5SV6BQ</string>
	<key>GCM_SENDER_ID</key>
	<string>421029132703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.kiishi.todlrtest</string>
	<key>PROJECT_ID</key>
	<string>todlrtest</string>
	<key>STORAGE_BUCKET</key>
	<string>todlrtest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:421029132703:ios:ea994ddf74c05994bfa5aa</string>
</dict>
</plist>